<h3 >
    @server.ServerName - @DateTime.Now - @server.ServerCountry - server is
    <span style="@($"color:{(server.ServerIsOnline?"green":"red")}")"
        data-status="@(server.ServerIsOnline ? "online" : "offline") ">@(server.ServerIsOnline ? "آنلاین" : "آفلاین")</span>
</h3>

@code {
    Server server = new Server() { ServerName = "server 1" ,ServerCountry = "Iran" };
}
